
.container{
    background-image: url('../img/stock-image.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 10rem;
}
.textRow{

    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.23) 77%, rgba(255,255,255,0.08) 92%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.23) 77%,rgba(255,255,255,0.08) 92%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.23) 77%,rgba(255,255,255,0.08) 92%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    /* vertically center header font */
    margin: 0;
    position: relative;
    width: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 12rem;
    height: 100%;
    

}
.greenFont{
    color: #8bc53f;
}
.greyFont{
    color: #6d6e70;
}
.blackFont{
    color: black;
}
#theFont{
    font-size: 1.5rem;
    display: inline-block;
}

#mainText{
    margin-left: 5rem;
}

.logo{
    width: 40%;
    display: inline-block;
}

.steps {
    margin: 40px;
    padding: 0;
    overflow: hidden;
    width: 80%;
    margin-left: 7rem;
}
.steps a {
    color: white;
    text-decoration: none;
}
.steps em {
    display: block;
    font-size: 1.1em;
    font-style: normal;
    font-weight: bold;
}

.steps div {
    float: left;
    margin-left: 0;
    height: 80px; /* total height */
    list-style-type: none;
    padding: 5px 5px 5px 30px;
    border-right: 3px solid white;
    position: relative;
}
.steps div:first-child {
    padding-left: 5px;
    width: 25%;
}
.steps div:nth-child(n+2) {
    padding-left: 5px;
    width: 60%;
}
.steps div:nth-child(n+2)::before {
    position: absolute;
    top:0;
    left:0;
    display: block;
    border-left: 25px solid white;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    width: 0;
    height: 0;
    content: " ";
}
/* colored arrow to the right */
.steps div::after {
    z-index: 1;
    position: absolute;
    top: 0;
    right: -25px; /* arrow width (negated) */
    display: block;
    border-left: 25px solid #7c8437; /* width: arrow width */
    border-top: 40px solid transparent; /* width: half height */
    border-bottom: 40px solid transparent; /* width: half height */
    width:0;
    height:0;
    content: " ";
}
/* Setup colors (both the background and the arrow) */

/* Completed */
.steps div {
    background-color: #8bc53f;
}
.steps div::after {
    border-left-color: #8bc53f;
}

/* Current */
.steps div.current {
    background-color: white;
    text-align: center;
}
.steps div.current form{
    width: 100%;
}
.steps div.current form{
    padding-left: 4.5rem;

  text-align: center;
}
.steps div.current form input{
    border-radius: .4rem;
    border-color: rgba(232, 236, 241, 0.8);
}
.steps div.current::after {
    border-left-color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
}

.steps .firstBlock em{
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
.subscribe{
    background-color: white !important;
}